
# PlanAhead Generated IO constraints 

NET "Reset" IOSTANDARD = LVCMOS33;
NET "Rx" IOSTANDARD = LVCMOS33;
NET "SysClk" IOSTANDARD = LVCMOS33;

#Car
NET "Motor<0>" LOC = P23 | IOSTANDARD = LVCMOS33;
NET "Motor<1>" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "Motor<2>" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "Motor<3>" LOC = P14 | IOSTANDARD = LVCMOS33;

NET "MN<0>" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "MN<1>" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "MN<2>" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "MN<3>" LOC = P88 | IOSTANDARD = LVCMOS33;
NET "MN<4>" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "MN<5>" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "MN<6>" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "MN<7>" LOC = P95 | IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "Reset" LOC = P47;
NET "Rx" LOC = P97;
NET "SysClk" LOC = P123;
NET "Led[7]" LOC = P67;
NET "Led[6]" LOC = P74;
NET "Led[5]" LOC = P75;
NET "Led[4]" LOC = P78;
NET "Led[3]" LOC = P79;
NET "Led[2]" LOC = P80;
NET "Led[1]" LOC = P81;
NET "Led[0]" LOC = P82;

# PlanAhead Generated IO constraints 

NET "Led[7]" IOSTANDARD = LVCMOS33;
NET "Led[6]" IOSTANDARD = LVCMOS33;
NET "Led[5]" IOSTANDARD = LVCMOS33;
NET "Led[4]" IOSTANDARD = LVCMOS33;
NET "Led[3]" IOSTANDARD = LVCMOS33;
NET "Led[2]" IOSTANDARD = LVCMOS33;
NET "Led[1]" IOSTANDARD = LVCMOS33;
NET "Led[0]" IOSTANDARD = LVCMOS33;
